.listStyle {
  font-size: larger;
  border: 2px dotted rgba(0, 0, 0, 0.795);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top: none;
  min-width: 700px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(128, 128, 128, 0.815);
}

.number {
  margin-left: 15px;
}

.name {
  font-weight: 600;
}

.item {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
}


.itemInternal {
  display: flex;
  min-width: 550px;
  text-shadow: 2px 2px 4px #0000003d;
}

li::before {
  content: "";
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.deleteButton {
  margin-left: 20px;
  width: 60px;
  height: 22px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: orange;
  box-shadow: rgba(19, 19, 36, 0.671) 0px 2px 5px -1px, rgba(0, 0, 0, 0.63) 0px 1px 3px -1px;

  &:focus,
  &:hover {
    background-color: orange;
    color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
}
